    .texto-menor {
        font-size: 13px;
    }
    
    .divs-facilidades {
        width: 325px;
    }
    
    .div-novidades {
        width: 325px;
    }
    
    .botao-lilas {
        background-color: #9353FF;
    }
    
    .verde-limao {
        color: #DAFF01;
    }
    
    @media(min-width: 768px) {
        .div-novidades {
            width: 696px;
        }
    }
    
    .modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
    }
    
    .modal.active {
        display: flex;
    }
    
    .modal-container {
        width: 80%;
    }
    
    #galleryImage {
        max-width: 80%;
        max-height: 80%;
        margin: 20px auto;
        display: block;
    }
    
    .closeButton {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }
    
    #prevButton,
    #nextButton {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    #prevButton {
        margin-right: 20px;
    }
    
    #nextButton {
        margin-left: 20px;
    }